@font-face {
    font-family: l-b;
    src: url(./../font/Livvic-Bold.ttf);
}

@font-face {
    font-family: l-r;
    src: url(./../font/Livvic-Regular.ttf);
}

@font-face {
    font-family: l-s;
    src: url(./../font/Livvic-SemiBold.ttf);
}

@font-face {
    font-family: l-i;
    src: url(./../font/Livvic-BoldItalic.ttf);
}

@font-face {
    font-family: l-m;
    src: url(./../font/Livvic-MediumItalic.ttf);
}

*,
*::after,
*::before,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

#header {
    background-color: #014E56;
    width: 100%;
    height: 517px;
}

.header {
    padding-top: 77px;
    margin-bottom: 120px;
}

.top-logo ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-family: 'l-s';
    font-size: 18px;
    padding-bottom: 1px;
    margin-right: 40px;
    transition: .5s all;
    width: 10px;
}

.logo-main {
    margin-right: 40px;
    border-bottom: none;
}


.logo:hover {
    color: #F67E7E;
}

.button-link {
    margin-top: 10px;
}

.button-link a {
    color: #fff;
    text-decoration: none;
    font-family: 'l-s';
    font-size: 18px;
    padding: 10px 32px;
    border: 3px solid #fff;
    border-radius: 24px;
    align-items: center;
    transition: .5s all;
}

.button-link a:hover {
    background-color: #ffffff;
    border: 3px solid #ffffff;
    color: #002529;
}

.about h1 {
    font-family: 'l-b';
    font-size: 64px;
    color: #fff;
    margin-top: 30px;
}

.hr-one {
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
}

.about-box {
    height: 112px;
    width: 730px;
}

.about-box p {
    color: #fff;
    font-size: 18px;
    font-family: 'l-s';
    line-height: 28px;
    margin-top: 40px;
}

.about-img img {
    position: absolute;
    transform: translate(1419.5px, -36px);
}

#meet {
    background-color: #004047;
    width: 100%;
    height: 1002px;
}

.meet-img {
    position: absolute;
}

.meet {
    padding-top: 140px;
}

.meet h1 {
    color: #fff;
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    font-family: 'l-b';
    margin-bottom: 64px;
}

.meet-box {
    width: 350px;
    height: 255px;
    background-color: #012F34;
    margin-bottom: 50px;
}

.meet-box-one {
    width: 350px;
    height: 255px;
    background-color: #002529;
}

.meet-box img {
    margin: 32px 127px 16px 127px;
}

.meet-box h4 {
    color: #79C8C7;
    text-align: center;
    font-size: 18px;
    font-family: 'l-b';
    line-height: 28px;
}

.meet-box span {
    color: #fff;
    font-family: 'l-m';
    font-size: 15px;
    text-align: center;
}

.plus {
    z-index: 1;
    width: 56px;
    height: 56px;
    background-color: #F67E7E;
    position: absolute;
    margin: 20px 0px 0px 150px;
    border-radius: 50%;
    transition: .5s all;
    transform-origin: 50% 50%;
    transform: rotateZ(0deg);
}

.plus-one {
    z-index: 2;
    position: absolute;
    transform: translate(25px, 20.3px);
    width: 4px;
    height: 16px;
    background-color: #012F34;
}

.plus-two {
    position: absolute;
    background-color: #012F34;
    z-index: 3;
    width: 16px;
    height: 4px;
    transform: translate(18.8px, 26.5px);
}

.plus:hover {
    background-color: #79C8C7;
    transform: rotateZ(45deg);
}


.meet-box-one h4{
    color: #79C8C7;
    text-align: center;
    font-size: 18px;
    font-family: 'l-b';
    line-height: 28px;
    margin: 35px 0px 8px 0px;
}

.meet-box-one p {
    color: #fff;
    width: 250px;
    margin-left: 50px;
    font-family: 'l-s';
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 24px;
}

.meet-box-one ul{
    display: flex;
    margin-left: 120px;
}

.meet-box-one li{
    list-style: none;
    margin-left: 16px;
}

.meet-box-one a{
    text-decoration: none;
    color: #fff;
    transition: .5s all;
    font-size: 31.1px;
}

.meet-box-one a:hover {
    color: #F67E7E;
}

.meet-b-img {
    position: absolute;
    transform: translate(1372px, 40px);
}

#clients {
    width: 100%;
    height: 437px;
    background-color: #012F34;
}

.clients-img {
    position: absolute;
}

.clients {
    padding-top: 140px;
}

.clients h1 {
    font-family: 'l-b';
    font-size: 48px;
    color: #fff;
    margin-bottom: 64px;
    text-align: center;
}

#get {
    width: 100%;
    height: 200px;
    background-color: #F67E7E;
}

#get img {
    position: absolute;
    transform: translate(0, 77.5px);
}

.get {
    padding-top: 76px;
}

.get h1 {
    color: #012F34;
    font-family: 'l-b';
    font-size: 48px;
    align-items: center;
}

.get-button {
    margin-top: 20px;
}

.get-button a {
    color: #012F34;
    text-decoration: none;
    font-family: 'l-s';
    font-size: 18px;
    padding: 10px 32px;
    border: 3px solid #012F34;
    border-radius: 24px;
    transition: .5s all;
    align-items: center;
}

.get-button a:hover {
    color: rgb(255, 255, 255);
    background-color: #012F34;
    border: 3px solid #012F34;
}

#botton {
    width: 100%;
    height: 195px;
    background-color: #002529;
}

.botton {
    padding: 45px 0px;
}

.botton-links img{
    margin-bottom: 25px;
}

.botton ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.botton-logo {
    color: #fff;
    text-decoration: none;
    font-family: 'l-s';
    font-size: 18px;
    padding-bottom: 1px;
    margin-right: 40px;
    transition: .5s all;
    width: 10px;
}

.botton-logo:hover {
    color: #F67E7E;
}

.botton-link {
    width: 170px;
    height: 100px;
}

.botton-link a{
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'l-s';
    font-size: 15px;
    line-height: 25px;
    opacity: 60%;
    text-decoration: none;
    transition: .5s all;
}

.botton-link a:hover {
    opacity: 100%;
    color: rgb(255, 255, 255);
}

.botton-icon li{
    padding-left: 20px;
}

.botton-icon ul li a{
    color: #fff;
    font-size: 30px;
    transition: .5s all;
}

.botton-icon ul li a:hover{
    color: #F67E7E;
}

.botton-icon p {
    margin-top: 46px;
    color: #fff;
    text-align: left;
    font-family: 'l-s';
    font-size: 15px;
    line-height: 25px;
    opacity: 60%;
    text-decoration: none;
}

.botton-icon ul {
    padding-left: 115px;
}

.botton-icon {
    padding-left: 300px;
}